h1 {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: var(--body-color);
    padding: 20px;
    transition: var(--tran-05);
}

.open {
    width: calc(100% - 25%);
    left: var(--open);
}

.close {
    left: var(--closed);
    width: calc(100% - 88px);
}

.text {
    color: var(--text-color);
}

